/web-app/WEB-INF/classes
/stacktrace.log
/test/reports
/logs
/*.war
/*.zip
/plugin.xml
/plugins
/web-app/plugins
/target
/lib
*.class
*.jar
.settings
.project
.idea
web-app/plugins
web-app/WEB-INF/classes
.asscache